body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 1em;
}

nav {
    display: flex;
    margin-bottom: 2rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(78% 0.017 297);
    
}

html {
    --color-accent: oklch(65% 0.15 300);
    accent-color: var(--color-accent);
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    border-bottom-width: 0.4em;
    padding-bottom: 0.5em;
}

